alias ls="exa --group-directories-first"
alias la='ls -a'
alias ll='ls -alFh'

alias ".."="cd .."
alias "..."="cd ../.."

alias v="nvim"
alias vi="nvim"
alias vim="nvim"

alias cd..='cd ..'
alias pdw='pwd'
alias update='sudo pacman -Syyu'
alias udpate='sudo pacman -Syyu'
alias upate='sudo pacman -Syyu'
alias updte='sudo pacman -Syyu'
alias updqte='sudo pacman -Syyu'
alias upqll='yay -Syu --noconfirm'
alias upal='yay -Syu --noconfirm'
alias install='sudo pacman -S'
alias pacsearch='sudo pacman -Ss'
alias installed='pacman -Qs'
alias pacremove='sudo pacman -Rs'
alias pacinfo='sudo pacman -Si'

alias reboot='loginctl reboot'
alias poweroff='loginctl poweroff'
alias suspend='loginctl suspend'

alias audiocheck="pactl info | grep 'Server Name'"

alias df='df -h'

alias ssh-work="ssh-add ~/.ssh/id_rsa_work"
alias pastebin="curl -F 'file=@-' 0x0.st <"
alias running_services='sudo systemctl list-units  --type=service'

alias yta-aac="yt-dlp --extract-audio --audio-format aac "
alias yta-best="yt-dlp --extract-audio --audio-format best "
alias yta-flac="yt-dlp --extract-audio --audio-format flac "
alias yta-mp3="yt-dlp --extract-audio --audio-format mp3 "
alias ytv-best="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/bestvideo+bestaudio' --merge-output-format mp4 "

alias drive-rahmatnsn="rclone mount rahmatnsn_drive: /home/mat/.local/share/Drive/rahmatnsn"
alias umount-rahmatnsn="fusermount -u ~/.local/share/Drive/rahmatnsn"
alias drive-rahmatardiansyah147="rclone mount rahmatardiansyah147_drive: /home/mat/.local/share/Drive/rahmatardiansyah147"
alias umount-rahmatardiansyah147="fusermount -u ~/.local/share/Drive/rahmatardiansyah147"
alias drive-rahmat21="rclone mount rahmat21_drive: /home/mat/.local/share/Drive/rahmat21"
alias umount-rahmat21="fusermount -u ~/.local/share/Drive/rahmat21"

alias mirror-merlin="scrcpy -s 834368ab0405"

alias start-docker="sudo ln -s /etc/runit/sv/docker /run/runit/service/docker"
alias status-docker="sudo sv status docker"
alias stop-docker="sudo unlink /run/runit/service/docker"
